/env
/__pycache__
__pycache__
dist
.ipynb_checkpoints/
data
order_optimisation_notebooks
annotation_names.txt
optimise_tree_order.py
TreeCmp_v2.0-b76
output/test_debug
test/output
test/rooting/test_outputs

# Type stub files
*.pyi
.env
docs
logs
backend.log
backend_startup.log
reports
misc
package-lock.json
.DS_Store
sss.newick
.hypothesis
